.mntitle {
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 6rem;
  color: black;
  grid-column: 2/3;
  grid-row: 1/2;
}

.portfolio {
  text-align: center;
  color: #68b9fd;
  background-color: white;
  border: 1px solid #68b9fd;
  line-height: 1.4;
  border-radius: 15px;
  font-size: 1.3rem;
  grid-column: 2;
  grid-row: 2/4;
}


.bild {
  left: 1px;
  grid-column: 1;
  grid-row: 1/4 ;
  width: 600;
  height: 650px;
}

.home {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 45% 50%;
  position: relative;
  flex-direction: row-reverse;
}

.ausbildung {
  margin-top: 8rem;
  margin-bottom: 10rem;
  color: #E2C9D1;
}

.jahr {
  color: white;
  font-size: 1.2rem;
}

.schule {
  font-size: 1.8rem;
  color: white;
}

.titel {
  color: #E2C9D1;
  font-size: 4rem;
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.titelSP {
  color: rgb(182, 224, 255);
  font-size: 4rem;
  margin-top: 5rem;
  margin-bottom: 7rem;
}


@media screen and (max-width: 800px) {
  .bild {
    width: 1px;
    height: 1px;
  }

  .mntitle {
    font-size: 4rem;
  }
}

@media screen and (max-width: 320px) {
  .bild {
    width: 1px;
    height: 1px;
  }

  .mntitle {
    font-size: 50px;
  }
}

.App-header {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

} 


/*
-----
-----

------
-----

-----
-----
*/


/*



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


*/