.mntitle {
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 6rem;
  color: #ca99a9;
}

.link {
  color: deepskyblue;
  font-size: 3.2rem;
}

.boxdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project {
  margin-top: 8px;
  color: deepskyblue;
  background-color: white;
  border-radius: 10px;
  font-size: 1.2rem;
}

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9rem;
}

.freizeit {
  font-size: 2rem;
}

.images {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.titlesprachen {
  font-size: 2rem;
  color: rgb(226, 242, 255);
  margin-bottom: 1px;
  margin-top: 1px;
  font-weight: 900;
}

.bild {
  justify-self: left;
  max-width: 30%;
  height: auto;
  border-radius: 30px;
}

.home {
  margin-top: 3rem;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.ausbildung {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 10rem;
  color: #E2C9D1;
}

.bildone {
  max-width: 20%;
  height: auto;
}

.bildtwo {
  max-width: 24%;
  height: auto;
}

.bildthree {
  max-width: 27%;
  height: auto;
}

.jahr {
  flex: none;
  color: #E2C9D1;
  background-color: white;
  font-size: 1.2rem;
  border-radius: 300px;
}

.schule {
  font-size: 1.8rem;
  color: #E2C9D1;
  background-color: white;
  border-radius: 10px;
}

.strich {
  writing-mode: vertical-rl;
  font-size: 4rem;
}

.titel {
  align-self: center;
  color: #E2C9D1;
  font-size: 4rem;
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.titelgit{
  align-self: center;
  color: #E2C9D1;
  font-size: 4rem;
  margin-top: 10rem;
  margin-bottom: none;
}

.hobby {
  color: #EEDEE3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hobbyname {
  background-color: #EEDEE3;
  color: white;
  padding: 7px;
  border-radius: 20px;
  margin: 4rem;
  margin-bottom: none;
  margin-top: none;
  font-size: 1.5rem;
  font-style: bold;
}

.hobbys {
  display: flex;
  flex-direction: row;
}

.titelaboutme {
  align-self: center;
  color: #E2C9D1;
  font-size: 4rem;
  margin-top: 0.1rem;
  margin-bottom: 3rem;
}

.sprachen {
  color: deepskyblue;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  font-size: 1.3rem;
}

.skillsprojects {
  display: flex;
  flex-direction: column;
}

.titelSP {
  align-self: flex-start;
  align-self: center;
  color: rgb(182, 224, 255);
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 7rem;
}

.boxes {
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: row;
}

.boxsprachen {
  border: 3px solid rgb(226, 242, 255);
  border-radius: 20px;
  margin-right: 3rem;
}

.linkedin {
  font-size: 8rem;
  margin-right: 6rem;
  color: pink;
  text-decoration: none;

}

.linkedin:hover {
  color: blue;
  text-decoration: none;

}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4rem;
}

.email {
  font-size: 9rem;
  margin-right: 6rem;
  color: pink;
  text-decoration: none;

}

.email:hover {
  color: red;
  text-decoration: none;
}

.bewerbung {
  color: pink;
  font-size: 8rem;
  text-decoration: none;

}

.bewerbung:hover {
  color: yellow;
  text-decoration: none;

}

.intouch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 420px) {
  .bild {
    width: 1px;
    height: 1px;
  }

  .mntitle {
    font-size: 20px;
  }

  .portfolio {
    font-size: 10px;
  }

  .boxdiv {
    display: flex;
    flex-direction: column;
  }
}



@media screen and (max-width: 1227px) {
  .home {
    margin-top: 6rem;
  }
  .linkedin{
    margin-right: 1rem;
  }
.email{
  margin-right: 1rem;
}
  .bild {
    width: 1px;
    height: 1px;
  }

  .boxdiv {
    display: flex;
    flex-direction: column;
  }

  .titel {
    font-size: 3rem;
  }

  .home {
    flex-direction: column;
  }

  .titelSP {
    font-size: 3rem;
  }

  .mntitle {
    font-size: 4rem;
  }

  .portfolio {
    font-size: 10px;
    align-self: center;
  }

  .boxes {
    flex-direction: column;
    align-items: center;
  }

  .boxsprachen {
    align-self: center;
    margin-right: 0px;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 320px) {
  .bild {
    width: 1px;
    height: 1px;
  }

  .mntitle {
    margin-left: none;
    font-size: 1rem;
    align-self: center;
  }

  .portfolio {
    margin-left: 0px;
    font-size: 10px;
    align-self: center;
  }
}